.NewLetter {
    margin-top: 600px;
    margin-left: 60px;
   width: 80%;
   height: 50vh;
   display: flex;
   align-items: center;
   flex-direction: column;
   background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
   gap: 15px;

}



.NewLetter h1 {
    color: #171717;
   font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
 
}
.NewLetter p {
    font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.email_details {
    display: flex;
    gap: 25px;
}
.email_details input {
    padding: 10px;
}
.email_details button {
    background: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;

}
